@use "./mixins" as *;
@use "./typography" as *;
@use "./variables" as *;
@use "../_components/header" as *;

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0.0625rem solid red; // temporarily omitted
  &:is(&::after, &::before, *) {
    box-sizing: border-box;
  }
}

.bar {
  height: 10px;
  width: 10px;
}

.btn {
  @include btn;
  background-color: $cyan;
  color: $white;
}

a {
  text-decoration: none;
  color: $gray;
}

.input {
  color: $very-dark-blue;
  font-weight: 400;
  margin: 0.5em;
}

.url {
  font-weight: 400;
}
