* {
	border: 0;
	// outline: 1px solid rebeccapurple;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

*::before,
*::after {
	border: 0;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	list-style-type: none;
}

@mixin flex-default {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.bar {
	height: 10px;
	width: 10px;
}

@mixin btn {
	padding: 1em 2em;
	text-decoration: none;
}
