@use "./variables" as *;

@mixin font-styling {
	color: $cyan;
}

@mixin default-list-style {
	list-style-type: none;
	padding-left: 0;

	& > li {
		line-height: 1.5;

		& + ul {
			list-style-type: none;
		}
	}
}

@mixin nav-list-link-spacing {
	margin: 0.75em 0;
}
