/***** COLORS *****/
$cyan: #2acfcf;
$dark-violet: #3b3054;
$red: #f46262;
$gray: #bfbfbf;
$grayish-violet: #9e9aa7;
$very-dark-blue: #35323e;
$very-dark-violet: #232127;
$white: #fff;

/***** FONTS *****/
$primary-font-family: "Poppins", sans-serif;
// This variable has been moved here to keep all SCSS variables together
// Oh, that makes sense. So as long as its a variable property, it belongs here. - ty.
