/***** COLORS *****/
$cyan: #2acfcf;
$dark-violet: #3b3054;
$red: #f46262;
$gray: #bfbfbf;
$grayish-violet: #9e9aa7;
$very-dark-blue: #35323e;
$very-dark-violet: #232127;
$white: #fff;

// $primary-fontSize: 18px; //dont think this is such a good idea. not scalable? also might not belong here.
