defaults

// Ensures browser compatibility - will send you a link about this. Sorry, I
meant 'linkie' -- Lol, hilarious, and thanks, will go on and read even more
about it, you sent me a very detailed breakdown from a StackOverflow question.
