@use "../_partials/mixins" as *;
@use "../_partials/variables" as *;

// Footer section and then go get a cup of tea to calm yourself....

footer {
  @include flex-default;
  flex-direction: column;
  background-color: $very-dark-violet;
  color: $white;
  // gap: 20px; // omitted to better match mockup
  padding: 1em 0;
  .footer-box-container {
    @include flex-column;
    // gap: 20px; // omitted for media query-specific styling (ensures a larger gap for desktop isn't overridden by this value)
    text-align: center;
    max-width: 1086px; // reduced to better match mockup
    width: 100%;
    margin: 0 auto;
  }

  .footer-links-container {
    display: flex; // added following styles to match mockup (structure-wise);
  }

  .footer-box-heading {
    // margin-bottom: 0.5em; // omitted as adding flex display and gap properties
    line-height: 1; // added to align top of text with logo and social icons
    font-weight: 600;
    letter-spacing: -0.5px;
  }

  .footer-box {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .footer-box-link {
    color: $gray;
    /* letter-spacing: 1.1px; */
    // padding: 0.2em 2em;
    font-size: clamp(0.75rem, 0.713rem + 0.1852vw, 0.875rem);
    // font-size: 0.85rem;
  }

  .social-list {
    @include flex-default;
    @include default-list-style;
    gap: 30px;
    .social-list-icon {
      @extend .social-list;
      .social-list-icon-link {
        display: flex;
        svg path:hover {
          fill: $grayish-violet-accessible; // in order to be able to change the fill of the svgs, I've replaced the img elements with their respective SVG path values. These are found by clicking on the svg file in VS Code, and copying and pasting it into the HTML. - updated to match new accessible theme
        }
      }
    }
  }

  .footer-box-list {
    display: flex; // added to better reflect mockup (for gap property to work)
    flex-direction: column; // added to better reflect mockup (for gap property to work)
    gap: 10px; // added to better reflect mockup
    @include default-list-style;
  }
}

.footer-logo {
  height: auto; // added as explicit width property required in Lighthouse
  width: auto; // added as explicit width property required in Lighthouse
}
