@use "../_partials/variables" as *;
@use "../_partials/mixins" as *;

.header-main {
  @include flex-default;
  // Am I blind or is this literally doing nothing here? :/ I am so confused, I dont have enough cookie in my system for this....
  background-color: $white;
  position: relative;
  padding: 1em;
  height: 60px;
  // max-height: 80px;
  // align-items: center;
  // justify-content: space-between;
  // border: 2px solid magenta; // temporarily omitted

  img {
    display: block;
    height: 30px;
  }
}

.hamburger-menu {
  @include flex-column;
  position: absolute;
  top: 50%;
  left: 85%;
  transform: translateY(-50%);

  &:is(:hover, :active, :focus) {
    cursor: pointer;
    // Added this because its nicer, a que that you can click this. Hope that's alright.
  }
}

.hidden {
  display: none;
}

.nav-list {
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  width: 85%;
  padding: 0.5em 1em;
  font-size: 1.15rem;
  text-align: center;
  /* .nav-item {
		margin-top: 0.5em;
	} */ // omitted - will be refactored in change to nav list styling (see below)
}

.nav-list-secondary {
  list-style-type: none;
}
