@use "../_partials/mixins" as *;
@use "../_partials/variables" as *;

// Hero Section

.hero-container {
  @include flex-default;
  flex-direction: column;
  background-color: $white;
  margin-bottom: 115px;
  .inner-hero-container {
    display: inherit;
    max-width: 67.875rem; // reduced to better match mockup
    width: 100%;
    margin: 0 auto;
  }
  .hero-image,
  .hero-text {
    width: 100%;
    text-align: center;
    @include flex-default;
    flex-direction: column;
    // padding: 1em; // reduced to better match mockup
    // margin-bottom: 2em; // omitted to better reflect mockup
    .hero-text-heading {
      color: $very-dark-blue;
      // font-size: 40px;
      font-size: clamp(18px, 9.1104px + 2.7778vw, 48px);
    }
    .hero-text-paragraph {
      color: $grayish-violet;
      // font-size: 18px;
      font-size: clamp(16px, 14.5776px + 0.4444vw, 20.8px);
      line-height: 1.5;
    }
  }

  .hero-text * {
    margin-top: 1em;
  }

  .hero-image {
    order: -1;
    img {
      display: block;
      margin: 1em auto;
      max-width: 100%;
    }
  }
}

.get-started-btn {
  border-radius: 3.125rem;
  text-decoration: none;
}
