.link-shorten-container {
  background-image: url(/bg-shorten-mobile.svg); // removed 'public' from pathfile - all static assets in Vite are served from the public root by default, so only need to reference file from public, where public = /, if that makes sense
  background-repeat: no-repeat;
  background-position: top right;
  position: absolute;
  //
  left: 0;
  right: 0;
  // transform: translateX(-0%); // omitted as has no effect (X value is 0% by default unless explicitly set to something else)
  transform: translateY(-50%);

  // Oh-----it worked. Keywords op. Math, who? Never really got along with her.
}

.url,
.input {
  font-size: clamp(1rem, 0.9259rem + 0.3704vw, 1.25rem);
}
