.link-shorten-container {
	background-image: url(/public/bg-shorten-mobile.svg);
	background-repeat: no-repeat;
	background-position: top right;
	// Oh-----it worked. Keywords op. Math, who? Never really got along with her.

	@media screen and (min-width: 1000px) {
		background-image: url(/public/bg-shorten-desktop.svg);
		height: 12ch;
		background-position: top center;
		// This is not correct. I have tried many combos, it all looks off, might be height causing an issue too. I tried.
		background-repeat: no-repeat;
		align-items: center;
	}
}
